<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">ProgII</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/">Esileht</a></li>
                <li class="nav-item"><a class="nav-link" href="/server-info">Server Info</a></li>
            </ul>

            <ul class="navbar-nav mr-right">
                <% if(!user) { %>
                    <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                <% } else { %>
                    <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>

<%- messages('partials/message', locals) %>