html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 60px;
    line-height: 60px;
}

.alert-error {
	color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}