<!DOCTYPE html>
<html>
    <% include ../partials/head %>
    <body>
        <header>
            <% include ../partials/header %>
        </header>

        <main>
            <div class="container">
                <h1>Posts</h1>
                <a href="/posts/add" class="btn btn-primary">New Post</a>
                <% posts.forEach(function(post) { %>

                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title"><a href="/post/<%= post._id %>"><%= post.title %></a></h2>
                        <div><%= post.author.email %> | <%= post.createdAt %></div>
                        <p><%= post.content %></p>
                    </div>
                </div>
                <% }); %>
            </div>
        </main>
        <footer class="bg-light">
            <% include ../partials/footer %>
        </footer>
    </body>
</html>