<!DOCTYPE html>
<html>
    <% include ../partials/head %>
    <body>
        <header>
            <% include ../partials/header %>
        </header>

        <main>
			<div class="container">
				<h1>Register</h1>

				<form method="POST">
					<div class="form-group">
						<label for="exampleInputEmail1">Email address</label>
						<input type="email" name="username" class="form-control" id="exampleInputEmail1">
						<small>We'll never share your email</small>
					</div>

					<div class="form-group">
						<label for="exampleInputPassword1">Password</label>
						<input type="password" name="password" class="form-control" id="exampleInputPassword1">
					</div>

					<div class="form-group">
						<label for="exampleInputPassword2">Password again</label>
						<input type="password" name="password2" class="form-control" id="exampleInputPassword2">
					</div>

					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</main>
		
        <footer class="bg-light">
            <% include ../partials/footer %>
        </footer>
    </body>
</html>