<!DOCTYPE html>
<html>
    <% include ../partials/head %>
    <body>
        <header>
            <% include ../partials/header %>
        </header>

        <main>
            <div class="container">
                <h1><%= post.title %></h1>

                <div><%= post.author.email %> | <%= post.createdAt %></div>
                <p><%= post.content %></p>
                <hr>
                <% if(user && user.email == post.author.email) { %>
                    <a href="/post/<%= post._id %>/edit" class="btn btn-primary">Edit</a>
                <% } %>
            </div>

            <% if(locals.allPosts) { %>
                <div class="sidebar">
                    <ul>
                    <% allPosts.forEach(function(post) { %>
                        <li><a href="/post/<%= post._id %>"><%= post.title %></a></li>
                    <% }); %>
                    </ul>
                </div>
            <% } %>
            
        </main>
        <footer class="bg-light">
            <% include ../partials/footer %>
        </footer>
    </body>
</html>